:root {
  --black-main: #222222;
  --gray-60: #545454;
  --gray-50: #858585;
  --gray-40: #a7a7a7;
  --gray-20: #d3d3d3;
  --orange: #e98446;
  --cream: #fcf4e6;
  --deep-orange: #dd5500;
  --pink: #e54b6a;
  --violet: #a08ce2;
  --green: #3ba68c;
  --blue-dark: #0f2b5e;
  --blue-main: #1e4391;
  --blue-60: #748ab9;
  --blue-40: #9faecd;
  --blue-30: #cad1e1;
  --blue-20: #e7f2ff;
  --light-blue: #e5f1fe;
  --deep-green: #147246;
  --light-green: #edf7eb;
  --bright-blue: #4685cf;
  --green-blue: #0987ae;
  --red-dark: #c0231f;
  --red-main: #ef302b;
  --red-60: #f58380;
  --red-20: #fdeaea;
  --purple: #742c8e;
  --white: #ffffff;
  --background: #f6f6f6;
  --menu: #f9f9f9;

  --blue-12: rgba(39, 138, 254, 0.12);
  --red-12: rgba(254, 81, 77, 0.12);
  --purple-12: rgba(182, 108, 209, 0.12);
  --orange-12: rgba(244, 172, 86, 0.12);
  --green-12: rgba(81, 189, 85, 0.12);
  --green-blue-12: rgba(74, 240, 240, 0.12);
}
