<h2 class="page__title">Кнопки</h2>
<div class="container">
    <u-button basic variant="primary" (click)="onClick()">Подать заявку</u-button>
    <u-button basic variant="simple" (click)="onClick()">Подать заявку</u-button>
    <u-button outlined variant="primary" (click)="onClick()">Подать заявку</u-button>
    <u-button outlined variant="simple" (click)="onClick()">Подать заявку</u-button>
    <u-button basic variant="danger" (click)="onClick()">Подать заявку</u-button>
    <u-button basic disabled variant="danger" (click)="onClick()">Подать заявку</u-button>
</div>

<app-code [code]="code"></app-code>

<div class="page__section">
    <h3 class="page__section--title">
        Параметры
    </h3>
    <div class="page__section--params">
        <div class="page__section--item">
            <div class="param-container">
                <h4>basic</h4>
                <span class="param-title">Directive</span>
            </div>
            Базовый вариант кнопки
        </div>
        <div class="page__section--item">
            <div class="param-container">
                <h4>outlined</h4>
                <span class="param-title">Directive</span>
            </div>
            Вариант кнопки с выделенным бордером
        </div>
        <div class="page__section--item">
            <div class="param-container">
                <h4>variant</h4>
                <span class="param-title">String</span>
            </div>
            <div class="param-description">
                Стили кнопки, доступные варианты — <span>simple / danger / primary</span>
            </div>
        </div>
        <div class="page__section--item">
            <div class="param-container">
                <h4>disabled</h4>
                <span class="param-title">Boolean</span>
            </div>
            <div class="param-description">
                Активная / неактивная кнопка
            </div>
        </div>
    </div>
</div>
