<h2 class="page__title">Кнопки</h2>
<div style="display:flex;gap:20px;margin-bottom:50px;">
    <u-button basic variant="primary" (click)="onClick()">Подать заявку</u-button>
    <u-button basic variant="simple" (click)="onClick()">Подать заявку</u-button>
    <u-button outlined variant="primary" (click)="onClick()">Подать заявку</u-button>
    <u-button outlined variant="simple" (click)="onClick()">Подать заявку</u-button>
    <u-button basic variant="danger" (click)="onClick()">Подать заявку</u-button>
</div>

<pre>
    &lt;u-button basic variant="primary" (click)="onClick()">Выбрать&lt;/u-button>
    &lt;u-button basic variant="simple" (click)="onClick()">Выбрать&lt;/u-button>
    &lt;u-button outlined variant="primary" (click)="onClick()">Выбрать&lt;/u-button>
    &lt;u-button outlined variant="simple" (click)="onClick()">Выбрать&lt;/u-button>
</pre>


<pre>
    <code [highlight]="'<div><div>'">

    </code>
</pre>
