<h2>Кнопки</h2>
<div class="container" style="display:flex;gap:20px;margin-bottom:50px;">
    <u-button basic variant="primary" (click)="onClick()">Выбрать</u-button>
    <u-button basic variant="danger" (click)="onClick()">Выбрать</u-button>
    <u-button outlined variant="primary" (click)="onClick()">Выбрать</u-button>
    <u-button outlined variant="simple" (click)="onClick()">Выбрать</u-button>
</div>
<h2>Табы</h2>
<div class="container">
    <u-tab-container>
        <u-tab title="вкладка 1">
            Первая вкладка
        </u-tab>
        <u-tab title="вкладка 2">
            Вторая вкладка
        </u-tab>
        <u-tab title="вкладка 3">
            Третья вкладка
        </u-tab>
    </u-tab-container>
</div>
