.nav {
    border-right: 1px solid #D9D9D9;
    height: 100%;
    position: sticky;
    padding: 15px;
    width: 250px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav__item {
    white-space: nowrap;
    background-color: #f1f3ff;
    padding: 10px 15px;
    border-radius: 8px;
    opacity: 0.6;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: #dfe3fd;
    }
}

.nav__list-title {
    font-weight: 600;
    font-size: 24px;
}
